﻿$头部$
<!--header end-->
$导航$
<!--content begin-->
<div id="content">
<!--product name-->
<div class="column">
<div class="columntitle"><h2>&nbsp;$产品名称$</h2></div>
<div class="columncenter">
<div class="selldetail">
<div class="sellleft">
<div><a href="$产品图片$"><img src="$产品图片$" border="0" width="200" height="200"/></a></div>
<div style="margin-top:10px;"><a href="$产品图片$"><img src="/images/zoom.gif" border="0" /></a></div>  
</div>
<div class="sellcenter">
<ul class="prodes">
$产品参数$
</ul>
<div class="clear"></div>
<div>
$在线购买$
<a href="http://member.xsp2.com/my_collection.asp?action=save&p=1&Title=$产品名称$" target="_blank"><img src="/images/xin.gif" width="15" height="15" align="texttop" /> <span class="blue">收藏此信息</span></a> <a href="javascript:javascript:window.clipboardData.setData('Text',location.href);alert('本文链接已经复制到剪贴板,您可以粘贴发送给好友');"><img src="/images/tuijian.gif" align="absmiddle" /> <span class="blue">推荐给朋友</span></a></div>
$分页$
</div>
$公司信息$
</div>
</div>
</div>

<div class="clear"></div>

<!--product description-->
<div class="column">
<div class="columntitle"><h2>&nbsp;详细说明</h2></div>
<div class="columncenter">
$详细说明$
</div>
</div>

<div class="clear"></div>

<!--selling-->
<div class="column">
<div class="columntitle"><div class="columntitleleft"><h2>供应信息</h2></div><div class="columntitleright"><a href="/sell/">更多</a></div></div>
<div class="columncenter">
<ul class="selling" id="aboutLink">
<span style="float:left" class="yellow"><img src="\member\images\shared\blue-loading.gif" width="16" height="16"/>正在读取信息...</span>
</ul>
</div>
</div>

<div class="clear"></div>

<!--fast-->
<div class="column">
<div class="fast">
<h2>还没找到您要购买的产品？请点击下一步，查看更多此类产品！</h2>
</div>
<div style="margin:10px 0; padding:0 25px">求购产品名称：$产品名称$  
  <form action="/sell/" name="form1" method="get" target="_blank">
  <input type="hidden" name="keyword" value="$产品名称$">
  <input type="submit" name="Submit" value="下一步" />
  </form>
</div>
</div>

</div>
<!--content end-->
<!-- footer -->
<script language="javascript" src="/js/footer.js"></script>
<script language="javascript" type="text/javascript" src="/js/xml.js"></script>
<script language="javascript" type="text/javascript">
function setAbout(obj)
{	
	document.getElementById("aboutLink").innerHTML=obj.responseText;	
}
XMLHttp.sendReq('GET', '/inc/getSellAbout.asp?id=$产品ID$,$小类ID$', '',setAbout);
</script>

</body>
</html>