﻿$头部$
<script language="javascript" src="/js/chainedselects.js"></script>
<script language="javascript" src="/js/city.js"></script>
<script language="javascript" src="/js/class.js"></script>
<script language="javascript" src="/js/validator.js"></script>
<!--menu-->
<div id="menu">
$栏目菜单$
<!--search-->
$搜索信息$
</div>
<!--header end-->

<!--content begin-->
<div id="content">
<!--categorylist-->
<div id="categorylist">
<div class="catelititle">
<div class="catelititleleft"></div>
$导航信息$
<div class="catelititleright"></div>
</div>
<div class="catelicenter">
<ul class="categorylist">
$类别信息$
</ul>
</div>
<div class="catelibottom"></div>
</div>

$筛选搜索$

<div class="contentleft2">
<div class="selltitle">
<ul>
<li class="selltitle1">会员等级</li>
<li class="selltitle2">产品图片</li>
<li class="selltitle3">供应信息</li>
<li class="selltitle4">地区</li>
<li class="selltitle5">给我留言</li>
</ul>
</div>
<div class="sellcontent">
<ul>
<!--记录-->
$记录内容$
</ul>
</div>
<div class="pages">
$分页$
</div>
</div>
<div class="contentright2">
<!--area-->
<div class="areatitle">
<div class="areatitleleft"></div>
<div class="areatitlecenter"><h2>地区分类</h2></div>
<div class="areatitleright"></div>
</div>
<div class="areacenter">
<ul id="area">
$地区分类$
</ul>
</div>
<div class="areabottom"></div>
<div class="clear"><script language="javascript" src="/js/sell/37.js"></script></div>

</div>
</div>
<!--content end-->

<!-- footer -->
<script language="javascript" src="/js/footer.js"></script>

<script type=text/javascript><!--//--><![CDATA[//><!--
function menuFix() {
  var sfEls = document.getElementById("area").getElementsByTagName("li");
  for (var i=0; i<sfEls.length; i++) {
    sfEls[i].onmouseover=function() {
    this.className+=(this.className.length>0? " ": "") + "sfhover";
    }
    sfEls[i].onMouseDown=function() {
    this.className+=(this.className.length>0? " ": "") + "sfhover";
    }
    sfEls[i].onMouseUp=function() {
    this.className+=(this.className.length>0? " ": "") + "sfhover";
    }
    sfEls[i].onmouseout=function() {
    this.className=this.className.replace(new RegExp("( ?|^)sfhover\\b"), 
"");
    }
  }
}
window.onload=menuFix;
//--><!]]></script>
$JS代码$

</body>
</html>