﻿$头部$
<script language="javascript" src="/js/chainedselects.js"></script>
<script language="javascript" src="/js/city.js"></script>
<script language="javascript" src="/js/marketclass.js"></script>
<div id="menu">
$栏目$
<!--search-->
<div id="search">
<div class="searchleft"><h2>小商品全球供应商</h2></div>
<div class="searchcenter">
 <form action="marketlist.html" name="pr_search" method="get" target="_blank">
  <input name="keyword" type="text" style="width:280px; font-size:14px; color:#666666" value="请输入您感兴趣的市场信息！" onBlur="lostFocus(this);" onFocus="getFocus(this);" />
<select name="f_market" style="width:100px;"></select>
<select name="province" style="width:80px;"></select>
  <input type="submit" style="border:1px solid #cfd0c8; width:58px; height:22px; line-height:20px; background:url(/images/searchbuttonbg.gif); font-size:14px" name="Submit" value="搜 索" />
  </form>
</div>
<div class="searchright"></div>
<div class="searchhelp">·<a href="/help/?id=18" target="_blank">如何采购</a><br /> ·<a href="javascript:;">如何提升在搜索中的排名？</a></div>
</div>
</div>
<!--header end-->

<!--content begin-->
<div class="clear"></div>

<div id="content">
<div class="contentleft">
<!--columnleft1-->
<div class="addshop"><img src="/images/addshop.gif" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="33,143,158,183" href="$siteurl$/reg/join.asp" />
</map></div>
<!--columnleft2-->
<div class="columntitle3">
<div class="columntitleleft3"></div>
<div class="columntitlecenter3">
<div style="float:left"><h2>行业分类</h2></div>
<div style="float:left;padding:2px 0 0 10px">| <a href="http://www.88wj.com/products/" target="_blank" class="white">五金产品库</a>
</div>
</div>
<div class="columntitleright3"><!--<a href="javascript:;">更多>></a>--></div>
</div>
<div class="columncenter3">
<ul class="categorytitle">
$classList$
</ul>
</div>
<div class="columnbottom3"></div>

</div>
<div class="contentright">
<!--columnright1-->
<div class="columnright1">
<div class="slide">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="356" height="190">
    <param name="movie" value="/flash/flashad2.swf" />
    <param name="quality" value="high" />
    <embed src="/flash/flashad2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="356" height="190"></embed>
  </object>
</div>
<div class="trans">
<!--trans-->
<div class="transtitle">
<div class="transtitleleft"></div>
<div class="transtitlecenter"><h2>货运中心</h2></div>
<div class="transtitleright"><a href="http://www.56zhw.com" target="_blank">更多>></a></div>
</div>
<div class="transcenter">
<ul class="transinfor">
$tjtransList$
</ul>
</div>
<div class="transbottom"></div>
</div>
</div>
<!--columnright2-->
<div class="featuretitle">
<div class="featuretitleleft"></div>
<div class="featuretitlecenter"><h2>推荐市场</h2></div>
<div class="featuretitleright"><a href="marketlist.asp" target="_blank">更多>></a></div>
</div>
<div class="featurecenter">
<ul class="shoplist">
$marketList$
</ul>
</div>
<div class="featurebottom"></div>
<!--columnright3-->
<div class="infor">
<div class="inforleft">
<h1>最新供应信息</h1><h1>最新求购信息</h1>
</div>
<div class="inforcenter">
<ul id="trundle">
$sellList1$
$buyList1$
$sellList2$
$buyList2$
$sellList3$
$buyList3$
$sellList4$
$buyList4$
$sellList5$
$buyList5$
</ul>
<SCRIPT>
var oMarquee = document.getElementById("trundle"); //滚动对象
var iLineHeight = 36; //单行高度，像素
var iLineCount = 8; //实际行数
var iScrollAmount = 1; //每次滚动高度，像素
function run() {
oMarquee.scrollTop += iScrollAmount;
if ( oMarquee.scrollTop == iLineCount * iLineHeight )
oMarquee.scrollTop = 0;
if ( oMarquee.scrollTop % iLineHeight == 0 ) {
window.setTimeout( "run()", 2000 );
} else {
window.setTimeout( "run()", 1 );
}
}
oMarquee.innerHTML += oMarquee.innerHTML;
window.setTimeout( "run()", 2000 );
</SCRIPT>
</div>
<div class="inforright">
<h1><a href="http://member.xsp2.com/" target="_blank">发布供应信息</a></h1><h1><a href="http://member.xsp2.com/">发布求购信息</a></h1>
</div>
</div>
<!--columnright4-->
<div class="stalltitle">
<div class="stalltitleleft"></div>
<div class="stalltitlecenter">
<div style="float:left; margin-right:10px; padding-top:5px"><h2>摊位推荐分类</h2> </div>
<div style="float:left">
<!-- TabTitle begin -->
    <div class="TabTitle">
      <ul id="myTab0">
        <li onMouseOver="nTabs(this,0);"><a href="javascript:;">服饰类</a></li>
        <li onMouseOver="nTabs(this,1);"><a href="javascript:;">文体类</a></li>
        <li onMouseOver="nTabs(this,2);"><a href="javascript:;">工艺品类</a></li>
		<li onMouseOver="nTabs(this,3);"><a href="javascript:;">五金类</a></li>
        <li onMouseOver="nTabs(this,4);"><a href="javascript:;">家居类</a></li>
      </ul>
    </div>
<!-- TabTitle end -->
</div>

</div>
<div class="stalltitleright"><a href="marketshop.asp">更多>></a></div>
</div>
<div class="stallcenter">

<!-- TabContent begin -->
    <div class="TabContent">
      <div id="myTab0_Content0">
		<ul class="shoplist">
			$shopList1$
		</ul>
	  </div>
      <div id="myTab0_Content1" class="none">
	  	<ul class="shoplist">
			$shopList2$
		</ul>
	  </div>
      <div id="myTab0_Content2" class="none">
	  	<ul class="shoplist">
			$shopList3$
		</ul>
	  </div>
	  <div id="myTab0_Content3" class="none">
	  	<ul class="shoplist">
			$shopList4$
		</ul>
	  </div>
      <div id="myTab0_Content4" class="none">
	  	<ul class="shoplist">
			$shopList5$
		</ul>
	  </div>
    </div>
<!-- TabContent end -->

</div>
<div class="stallbottom"></div>
<div class=""><script language="javascript" src="/js/market/2.js"></script></div>
</div>

<!--selling-->
<div class="selling">
<div class="producttitle">
<div class="producttitleleft"></div>
<div class="producttitlecenter2"><h2>推荐产品</h2></div>
<div class="producttitleright"><a href="$siteutl$/sell/">更多>></a></div>
</div>
<div class="productcenter2">
<ul class="prolist">
$productsList$
</ul>
</div>
<div class="productbottom2"></div>
</div>

<!--news-->
<!--news-->
<div id="news">
<!--market news-->
<div class="newslist">
<div class="newstitle">
<div class="newstitleleft"></div>
<div class="newstitlecenter"><h2>市场资讯</h2></div>
<div class="newstitleright"><a href="$siteurl$/news/newslist.asp?id=11" target="_blank">更多>></a></div>
</div>
<div class="newscenter">
<div class="newstj">
<div class="newsimg">$tjShichuangPictop1$</div>
<ul class="newsrightlist">
$newsList1$
</ul>
</div>
<ul class="newslist">
$newsList2$
</ul>
</div>
<div class="newsbottom"></div>
</div>
<!--economy news-->
<div class="newslist">
<div class="newstitle">
<div class="newstitleleft"></div>
<div class="newstitlecenter"><h2>经济资讯</h2></div>
<div class="newstitleright"><a href="$siteurl$/news/newslist.asp?id=13" target="_blank">更多>>></a></div>
</div>
<div class="newscenter">
<div class="newstj">
<div class="newsimg">$newsList3$</div>
<ul class="newsrightlist">
$newsList4$
</ul>
</div>
<ul class="newsconlist">
$newsList5$
</ul>
</div>
<div class="newsbottom"></div>
</div>
<!--commerce news-->
<div class="newslist2">
<div class="newstitle">
<div class="newstitleleft"></div>
<div class="newstitlecenter"><h2>商务指南</h2></div>
<div class="newstitleright"><a href="$siteurl$/news/newslist.asp?id=12" target="_blank">更多>></a></div>
</div>
<div class="newscenter">
<div class="newstj">
<div class="newsimg">$newsList6$</div>
<ul class="newsrightlist">
$newsList7$
</ul>
</div>
<ul class="newslist">
$newsList8$
</ul>
</div>
<div class="newsbottom"></div>
</div>
</div>

</div>
<!--content end-->
<div class="clear"></div>
<!--button-->
<div class="blk_18">
<a onmouseup="ISL_StopUp_1()" class="LeftBotton" onmousedown="ISL_GoUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:;" target="_self"></a>
<div class="pcont" id="ISL_Cont_1">
<div class="ScrCont">
<div id="List1_1">
$linkList1$
</div>
<div id="List2_1">

$linkList2$
</div>
</div>
</div>
<a onmouseup="ISL_StopDown_1()" class="rightBotton" onmousedown="ISL_GoDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:;" target="_self"></a>
</div>

<SCRIPT type=text/javascript>
<!--
picrun_ini()
//-->
</SCRIPT>

<!--link-->
<div id="link">
$linkList$
</div>
<!-- footer -->
<script language="javascript">
	initListGroup('city', document.pr_search.province);
	initListGroup('market_CID', document.pr_search.f_market);
</script>
<script language="javascript" src="/js/footer.js"></script>
</body>
</html>