﻿$头部$
<script language="javascript" src="/js/chainedselects.js"></script>
<script language="javascript" src="/js/city.js"></script>
<script language="javascript" src="/js/marketclass.js"></script>
<!--menu-->
<div id="menu">
$栏目$
<!--search-->
$搜索$
</div>
<!--header end-->

<!--content begin-->
<div class="clear"></div>

<div id="content">
<div class="contentleft">
<!--columnleft1-->
<div class="addshop"><img src="/images/addshop.gif" border="0" usemap="#Map" />
<map name="Map"><area shape="rect" coords="36,144,157,182" href="$siteurl$/reg/join.html">
</map></div>
<!--market-->
<div class="columntitle1">
<div class="columntitleleft1"></div>
<div class="columntitlecenter1"><h2>批发市场</h2></div>
<div class="columntitleright1"><a href="marketlist.html">更多>></a></div>
</div>
<div class="columncenter1">
<ul>
$批发市场$
</ul>
</div>
<div class="columnbottom1"></div>

</div>
<div class="contentright">
<!--columnright1-->
<div class="columnright1">
<div class="slide">
<!--introduction-->
<div class="columntitle2">
<div class="columntitleleft2"></div>
<div class="columntitlecenterintro"><h2>市场介绍</h2></div>
<div class="columntitleright2"></div>
</div>
<div class="columncenterintro">
<div style="float:left; margin-right:6px">$市场图片$</div>
$市场介绍$ 
</div>
<div class="columnbottomintro"></div>
</div>
<div class="trans">
<!--bulletin board-->
<div class="areatitle">
<div class="areatitleleft"></div>
<div class="areatitlecenter2"><h2>公告栏</h2></div>
<div class="areatitleright"></div>
</div>
<div class="areacenter2">
由全球最大的小商品门户网站——大中华市场网投资倾力打造，由全国各大专业批发市场共同参与，旨在更好的推广介绍各专业批发市场，增加市场客流量，节省广告投入，快速提升市场知名度，整合经销商与生产企业之间的优势资源而建立的批发市场专题栏目已正式开通，目前正面向全国专业批发市场招商。咨询电话：0579-8536740
</div>
<div class="areabottom2"></div>

</div>
</div>
<!--feature shop-->
<div class="featuretitle">
<div class="featuretitleleft"></div>
<div class="featuretitlecenter"><h2>推荐旺铺</h2></div>
<div class="featuretitleright"><a href="marketshop.html?id=$id$">更多>></a></div>
</div>
<div class="featurecenter">
<ul class="shoplist2">
$推荐旺铺$
</ul>
</div>
<div class="featurebottom"></div>

</div>

<!--feature-->
<div class="selling">
<div class="producttitle">
<div class="producttitleleft"></div>
<div class="producttitlecenter2"><h2>推荐产品</h2></div>
<div class="producttitleright"><a href="$siteurl$/sell/">更多>></a></div>
</div>
<div class="productcenter2">
<ul class="prolist">
$推荐产品$
</ul>
</div>
<div class="productbottom2"></div>
</div>

<!--news-->
<div id="news">
<!--market news-->
<div class="newslist">
<div class="newstitle">
<div class="newstitleleft"></div>
<div class="newstitlecenter"><h2>市场资讯</h2></div>
<div class="newstitleright"><a href="$siteurl$/news/11/" target="_blank">更多>></a></div>
</div>
<div class="newscenter">
<div class="newstj">
<div class="newsimg">$tjShichuangPictop1$</div>
<ul class="newsrightlist">
$newsList1$
</ul>
</div>
<ul class="newslist">
$newsList2$
</ul>
</div>
<div class="newsbottom"></div>
</div>
<!--economy news-->
<div class="newslist">
<div class="newstitle">
<div class="newstitleleft"></div>
<div class="newstitlecenter"><h2>经济资讯</h2></div>
<div class="newstitleright"><a href="$siteurl$/news/13/" target="_blank">更多>>></a></div>
</div>
<div class="newscenter">
<div class="newstj">
<div class="newsimg">$newsList3$</div>
<ul class="newsrightlist">
$newsList4$
</ul>
</div>
<ul class="newsconlist">
$newsList5$
</ul>
</div>
<div class="newsbottom"></div>
</div>
<!--commerce news-->
<div class="newslist2">
<div class="newstitle">
<div class="newstitleleft"></div>
<div class="newstitlecenter"><h2>商务指南</h2></div>
<div class="newstitleright"><a href="$siteurl$/news/12/" target="_blank">更多>></a></div>
</div>
<div class="newscenter">
<div class="newstj">
<div class="newsimg">$newsList6$</div>
<ul class="newsrightlist">
$newsList7$
</ul>
</div>
<ul class="newslist">
$newsList8$
</ul>
</div>
<div class="newsbottom"></div>
</div>
</div>

</div>
<!--content end-->
<div class="clear"></div>
<!--button-->
<div class="blk_18">
<a onmouseup="ISL_StopUp_1()" class="LeftBotton" onmousedown="ISL_GoUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:;" target="_self"></a>
<div class="pcont" id="ISL_Cont_1">
<div class="ScrCont">
<div id="List1_1">
$linkList1$
</div>
<div id="List2_1">

$linklist2$
</div>
</div>
</div>
<a onmouseup="ISL_StopDown_1()" class="rightBotton" onmousedown="ISL_GoDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:;" target="_self"></a>
</div>

<SCRIPT type=text/javascript>
<!--
picrun_ini()
//-->
</SCRIPT>

<!--link-->
<div id="link">
$linkList$
</div>
<!-- footer -->
<script language="javascript">
	initListGroup('city', document.pr_search.province);
	initListGroup('market_CID', document.pr_search.f_market);
</script>
<script language="javascript" src="/js/footer.js"></script>
</body>
</html>
