$头部$
<script language="javascript" src="/js/chainedselects.js"></script>
<script language="javascript" src="/js/city.js"></script>
<script language="javascript" src="/js/marketclass.js"></script>
<!--menu-->
<div id="menu">
$栏目$
<!--search-->
$搜索$
</div>
<!--header end-->

<!--content begin-->
<div class="clear"></div>
$导航$

<div id="content">
<!--market shop-->
<div class="exhibitetitlesell">
<div class="exhibitetitleleft"></div>
<div class="exhibitetitlecenter"><h2>市场商铺</h2></div>
<div class="exhibitetitleright">
<div class="exhibitpromot"></div>
</div>
</div>

<div class="exhibitecenter">

<div class="shoptitlelist">
<ul>
<li class="shoptitle1">商铺图片</li>
<li class="shoptitle2">商铺基本信息</li>
<li class="shoptitle3">联系方式</li>
</ul>
</div>
<div class="shopcontent">
$列表$
</div>

<div style="clear:both; height:30px">
$分页$
</div>

</div>
<div class="exhibitebottom"></div>

</div>

<!--content end-->

<!-- footer -->
<script language="javascript" src="/js/footer.js"></script>
<script language="javascript">
	initListGroup('city', document.pr_search.province);
	initListGroup('market_CID', document.pr_search.f_market);
</script>
</body>
</html>