$头部$
<script language="javascript" src="/js/chainedselects.js"></script>
<script language="javascript" src="/js/city.js"></script>
<script language="javascript" src="/js/marketclass.js"></script>
<!--menu-->
<div id="menu">
$栏目$
<!--search-->
$搜索$
</div>
<!--header end-->

<!--content begin-->
<div class="clear"></div>
$导航$

<div id="content">
<!--market-->
<div class="exhibitetitlesell">
<div class="exhibitetitleleft"></div>
<div class="exhibitetitlecenter"><h2>批发市场</h2></div>
<div class="exhibitetitleright">
<div class="exhibitpromot"></div>
</div>
</div>

<div class="exhibitecenter">

<div class="productsbox">
<ul>
$列表$
</ul>
</div>

<div style="clear:both; height:30px">
$分页$
</div>

</div>
<div class="exhibitebottom"></div>

</div>

<!--content end-->

<!-- footer -->
$省份与类别$
<script language="javascript" src="/js/footer.js"></script>
</body>
</html>