﻿$head

<!--content begin-->
<div id="content">
<div class="contentleft">
<!--columnleft1-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>关注热点</h2></div>
<div class="columntitleright">关注热点，把握机遇</div>
</div>
<div class="indexNews">
<div class="indexNewsLeft">
<div class="indexNewsTitle">
  <h2><a href="news/newslist.asp?id=36" title="查看热点资讯更多">热点资讯</a></h2></div>
</div>
<div class="indexNewsRight">
<ul>
$热点资讯$
</ul>
</div>
<div class="indexNewsLeft">
<div class="indexNewsTitle2">
  <h2><a href="news/newslist.asp?id=15" title="查看行业资讯更多">行业资讯</a></h2></div>
</div>
<div class="indexNewsRight">
<ul>
$行业资讯$
</ul>
</div>
<div class="indexNewsLeft">
<div class="indexNewsTitle2">
  <h2><a href="news/newslist.asp?id=11" title="查看市场新闻更多">市场新闻</a></h2></div>
</div>
<div class="indexNewsRight">
<ul>
$市场新闻$
</ul>
</div>
<div class="indexNewsLeft">
<div class="indexNewsTitle2">
  <h2><a href="news/newslist.asp?id=11" title="查看市场新闻更多">展会资讯</a></h2></div>
</div>
<div class="indexNewsRight">
<ul>
$展会资讯$
</ul>
</div>
<div class="indexNewsLeft">
<div class="indexNewsTitle2">
  <h2><a href="zhidao/" title="更多的知道问答">问知堂</a></h2></div>
</div>
<div class="indexNewsRight">
<ul>
$问知堂$
</ul>
</div>
</div>
</div>
</div>
<div class="contentright">
<!--columnright1-->
<div class="columnright">
<!--slide-->
<div class="slide">
<div class="overflow" id="push">
<div id="mainPush"></div>
<div id="linkPush"></div>
</div>
<div class="infor">
<div class="inforleft">
<h3>最新供应信息</h3><h3>最新求购信息</h3>
</div>
<div class="inforcenter">
<ul id="trundle">
$供应信息$
</ul>
<SCRIPT>
		var oMarquee = document.getElementById("trundle"); //滚动对象
		var iLineHeight = 32; //单行高度，像素
		var iLineCount = 8; //实际行数
		var iScrollAmount = 1; //每次滚动高度，像素
		function run() {
		oMarquee.scrollTop += iScrollAmount;
		if ( oMarquee.scrollTop == iLineCount * iLineHeight )
		oMarquee.scrollTop = 0;
		if ( oMarquee.scrollTop % iLineHeight == 0 ) {
		window.setTimeout( "run()", 2000 );
		} else {
		window.setTimeout( "run()", 1 );
		}
		}
		oMarquee.innerHTML += oMarquee.innerHTML;
		window.setTimeout( "run()", 2000 );
		</SCRIPT>
</div>
</div>
</div>
<div class="supplier">
<!--ict-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>市场旺铺</h2></div>
<div class="columntitleright">让小额批发生意更兴旺</div>
</div>
<div class="indexNews">
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=13&cojy=3" class="blue" title="更多饰品市场经销商信誉旺铺">[饰&nbsp;&nbsp;&nbsp;&nbsp;品]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺13$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=4&cojy=3" class="blue" title="更多五金市场经销商信誉旺铺">[五&nbsp;&nbsp;&nbsp;&nbsp;金]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺4$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=6&cojy=3" class="blue" title="更多针织市场经销商信誉旺铺">[针&nbsp;&nbsp;&nbsp;&nbsp;织]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺6$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=28&cojy=3" class="blue" title="更多化妆品市场经销商信誉旺铺">[化 妆 品]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺28$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=29&cojy=3" class="blue" title="更多新奇玩具市场经销商信誉旺铺">[新奇玩具]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺29$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=16&cojy=3" class="blue" title="更多礼品市场经销商信誉旺铺">[礼&nbsp;&nbsp;&nbsp;&nbsp;品]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺16$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=5&cojy=3" class="blue" title="更多办公文具市场经销商信誉旺铺">[办公文具]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺5$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=7&cojy=3" class="blue" title="更多日用百货市场经销商信誉旺铺">[日用百货]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺7$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=14&cojy=3" class="blue" title="更多电子产品市场经销商信誉旺铺">[电子产品]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺14$
</div>
<div class="indexNewsLeft2">
<a href="http://company.xsp2.com/?bid=17&cojy=3" class="blue" title="更多家用电器市场经销商信誉旺铺">[家用电器]</a>
</div>
<div class="indexNewsRight">
·$信誉旺铺17$
</div>
</div>

</div>
</div>
</div>
</div>
</div>

<div id="content2">
<div class="indexLeft">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>明星市场</h2></div>
<div class="columntitleright">让诚信企业贸易天下</div>
</div>
<div class="indexNews">
<ul class="indexCreCom">
<li><a href="http://www.xsp2.com/market/market.asp?id=18" target="_blank"><img src="images/companyImg01.gif" class="img" /></a>
$贸信通会员1$
</li>
<li><a href="http://www.xsp2.com/market/market.asp?id=116" target="_blank"><img src="images/companyImg02.gif" class="img" /></a>
$贸信通会员2$
</li>
<li><a href="http://www.xsp2.com/market/market.asp?id=123" target="_blank"><img src="images/companyImg03.gif" class="img" /></a>
$贸信通会员3$
</li>
</ul>
</div>
</div>
</div>
<div class="indexCenter">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>推荐货源</h2></div>
<div class="columntitleright">每日货源推荐</div>
</div>
<div class="indexNews">
<ul class="indexPro">
$推荐小商品$
</ul>
</div>
</div>
</div>
<div class="indexRight"> 
        <div style="width:287px">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>最新货源</h2></div>
<div class="columntitleright"><a href="javascript:;">更多</a></div>
</div>
<div class="indexNews">
<ul class="indexCreCom">
<li><a href="http://wangbaibai.xsp2.com/" target="_blank"><img src="images/logo1.gif" class="img" /></a>
$库存信息1$
</li>
<li><a href="http://maliang.xsp2.com/" target="_blank"><img src="images/logo2.gif" class="img" /></a>
$库存信息2$
</li>
<li><a href="http://huangwei.xsp2.com/" target="_blank"><img src="images/logo3.gif" class="img" /></a>
$库存信息3$
</li>
</ul>
</div>
</div>
        </div>
</div>
</div>
<div class="ggw"> 
<a href="http://www.xsp2.cn/" target="_blank"><img src="images/8888.gif" width="950"  border="0" align="absmiddle" /></a>
<!--<a href="http://www.shoefuns.com/" target="_blank"><img src="images/ggw13.gif" width="185" height="76" align="absmiddle" /></a> <a href="javascript:;"><img src="images/ggwzz.gif" width="185" height="76" align="absmiddle" /></a> <a href="http://www.hmyigou.com" target="_blank"><img src="images/ggw14.gif" width="185" height="76" align="absmiddle" /></a> <a href="javascript:;"><img src="images/ggwzz.gif" width="185" height="76" align="absmiddle" /></a> <a href="http://www.gogosing.cn/" target="_blank"><img src="images/ggw15.gif" width="188" height="76" align="absmiddle" /></a>-->
</div>
<div class="pfs">
<div class="pfsTitle"></div>
<div class="pfsContent">
<ul>
<li>
$诚信网店$
</li>
</ul>
</div>
<div class="pfsMore">
<!--<h1><a href="categoryList.asp?id=3">更多>></a>--></h1>
</div>
</div>

<div class="ggw"> 
<!--<a href="http://www.58china.cn/" target="_blank"><img src="images/1/04.jpg"  border="0" /></a>--></div>

<div style="clear:both"></div>

<div id="content">
<div class="contentleft">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>小商品区</h2></div>
<div class="columntitleright"><a href="javascript:;">银饰</a> &nbsp;<a href="javascript:;">头饰</a> &nbsp;<a href="javascript:;">珠宝</a> &nbsp;<a href="javascript:;">头花</a></div>
</div>
<div class="indexNews">
<div class="indexNewsLeft3"> 
<p><a href="javascript:;"><img src="images/indexLeftPro01.gif" class="img" /></a></p>
$批发市场1$
</div>
<div class="indexNewsRight">
$批发市场2$
</div>
</div>

</div>
<div class="clear"></div>
<p><a href="http://www.xsp2.cn" target="_blank"><img src="images/class_left.gif" border="0" width="288" /></a></p>
<div class="clear"></div>
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>数码电子</h2></div>
<div class="columntitleright"><a href="javascript:;">内页</a> &nbsp;<a href="javascript:;">袜子</a> &nbsp;<a href="javascript:;">毛衣</a> &nbsp;<a href="javascript:;">床上用品</a></div>
</div>
<div class="indexNews">
<div class="indexNewsLeft3"> 
<p><a href="javascript:;"><img src="images/indexLeftPro02.gif" class="img" /></a></p>
$展会信息1$
</div>
<div class="indexNewsRight">
$展会信息2$
</div>
</div>
</div>
<div class="clear"></div>
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>新奇创意</h2></div>
<div class="columntitleright"><a href="javascript:;">内页</a> &nbsp;<a href="javascript:;">袜子</a> &nbsp;<a href="javascript:;">毛衣</a> &nbsp;<a href="javascript:;">床上用品</a></div>
</div>
<div class="indexNews">
<div class="indexNewsLeft3"> 
<p><a href="javascript:;"><img src="images/indexLeftPro03.gif" class="img" /></a></p>
$新奇创意1$
</div>
<div class="indexNewsRight">
$新奇创意2$
</div>
</div>
</div>

<!--<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>新奇创意</h2></div>
<div class="columntitleright"><a href="http://bbs.xsp2.com" target="_blank">更多</a></div>
</div>
<div class="indexNews">
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=50" target="_blank" class="blue">[每日新闻]</a>
</div>
<div class="indexNewsRight">
·$社区精华50$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=56" target="_blank" class="blue">[开店攻略]</a>
</div>
<div class="indexNewsRight">
·$社区精华56$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=57" target="_blank" class="blue">[网店故事]</a>
</div>
<div class="indexNewsRight">
·$社区精华57$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=14" target="_blank" class="blue">[店铺营销]</a>
</div>
<div class="indexNewsRight">
·$社区精华14$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=35" target="_blank" class="blue">[电话营销]</a>
</div>
<div class="indexNewsRight">
·$社区精华35$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=36" target="_blank" class="blue">[电子商务]</a>
</div>
<div class="indexNewsRight">
·$社区精华36$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=29" target="_blank" class="blue">[市场规则]</a>
</div>
<div class="indexNewsRight">
·$社区精华29$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=25" target="_blank" class="blue">[成功故事]</a>
</div>
<div class="indexNewsRight">
·$社区精华25$
</div>
<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=39" target="_blank" class="blue">[经验分享]</a>
</div>
<div class="indexNewsRight">
·$社区精华39$
</div>
<!--<div class="indexNewsLeft2">
<a href="http://bbs.xsp2.com/index.asp?boardid=41" target="_blank" class="blue">[商业防骗]</a>
</div>
<div class="indexNewsRight">
·$社区精华41$
</div>
</div>

</div>-->
</div>
<div class="contentright">
<div class="column">
<div class="columntitle">
<!-- TabTitle begin -->
    <div id="shoptop_tit">
	  <P class="topTit2"></P>
      <P class="topC0"><a href="javascript:;">行业分类</a></P>
      <!--<P class="topC0"><a href="javascript:;">永康五金</a></P>-->
    </div>
<!-- TabTitle end -->
</div>
<!-- TabContent begin -->
    <div id="shoptop_cnt">
        <div></div>
        <div>
<ul class="cateList">
<dl>
$行业分类
<!--$义乌市场分类$-->
</dl>
</ul>
		</div>
       <!-- <div>
<ul class="cateList">
<dl>
$永康五金分类$
</dl>
</ul>
		</div>-->
    </div>
<!-- TabContent end -->
</div>
</div>
</div>

<div style="clear:both"></div>

<div class="ggw">
<a href="http://lanjian.xsp2.com/" target="_blank"><img src="images/2/1.gif"  border="0" /></a> <a href="http://lingfengsuliao.xsp2.com/" target="_blank"><img src="images/2/2.gif"  border="0" /></a> <a href="http://xinxinry.xsp2.com/" target="_blank"><img src="images/2/3.gif"  border="0" /></a> <a href="http://jmhaiming.xsp2.com/" target="_blank"><img src="images/2/4.gif"  border="0" /></a> <a href="http://xpyj.xsp2.com/" target="_blank"><img src="images/2/5.gif"  border="0" /></a> <a href="http://jingtaodq.xsp2.com/" target="_blank"><img src="images/2/6.gif"  border="0" /></a>
<!--<a href="http://www.langsha.com" target="_blank"><img src="images/LeftAdver.gif" align="absmiddle" border="0" /></a> <a href="http://www.xsp2.cn" target="_blank"><img src="images/categoryadver.gif" align="absmiddle" border="0" /></a>-->
</div>

<div id="content2">
<div class="news">
<ul>
<li class="left">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>市场营销</h2></div>
<div class="columntitleright"><a href="/news">更多</a></div>
</div>
<div class="indexNews">
$市场营销
<!--<div class="indexNewsLeft3"> 
<p><a href="javascript:;"><img src="images/indexLeftPro01.gif" class="img" /></a></p>
$市场营销1$
</div>
<div class="indexNewsRight">
$市场营销2$
</div>-->
</div>
</div>
</li>
<li class="center">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>经济资讯</h2></div>
<div class="columntitleright"><a href="javascript:;">更多</a></div>
</div>
<div class="indexNews">
$经济资讯
<!--<div class="express">
<FORM  method="post" name="formems" id="formems" action="http://www.ems.com.cn/qcgzOutQueryAction.do" target="_blank"> 
EMS邮 政查询： 
<input name="mailNum" type="text" class="input1" id="mailNum" maxlength="13" fieldname="邮件号码" isneed="Y" strlength="13" value="" style="width:157px" >
<INPUT type="submit" value="查询" name="optijiaot"  id="optijiaot">
<input type="hidden" name="reqCode" value="browseBASE" />
<input type="hidden" name="checknum" value="0568792906411" />
</FORM>

<FORM id=tracking name=fastTrack action="http://www.cn.dhl.com/publish/cn/zh/eshipping/track.high.html" method="get" target="_blank">
DHL快 递查询：

<INPUT id=AWB onfocus="this.value='';" name=AWB style="width:157px">
<INPUT name="submit10" type="submit" id=submit onMouseOver="this.id='trackingSubmitSelected'"  onMouseOut="this.id='trackingSubmit'" value="查询">
<input type=hidden value=RESULTS name=pageToInclude />
<INPUT type=hidden value=fasttrack name=type>
</FORM>

<FORM  action="http://www.zto.cn/bill.asp" method="post" target="_blank">
中通快递查询：
<input name="ID" type="text" id="ID1"  maxlength="12" style="width:157px">
<INPUT name="Submit" type="submit" value="查询">
</FORM>

<FORM method="post" action="http://www.htky365.com/track.do" target="_blank" name="trackForm">
汇通快递查询：
<input name="inputNumber" id="inputNumber" maxlength="20" style="width:157px">
<INPUT name="Submit" type="submit" value="查询">
</FORM>

<form target="_blank" action="http://www.cre.cn/Fhwcxselect.jsp" method="post">
中铁快运查询：
<input name="sheet_no" type="text" id="sheet_no" style="width:157px">
<input type="submit" value="查询">
</form>

<form action="http://61.172.202.134:800/WEBQUERY/index.asp" method="post" name="kjzz" target="_blank">
天天快递查询：
<input name="wen" type="text" id="wen" value="" maxlength="14" style="width:157px">
<INPUT name="submit" type="submit" id="nano2" value="查询">
</form>

<form name="form1" action="http://222.73.105.196/go.php" method="post" target="_blank">
韵达快递查询：
<INPUT type="text" name="wen" maxlength=13 style="width:157px">
<INPUT type="submit" name="Submit" value="查询">
</form>
顺丰快递查询：
<a href="http://www.sf-express.com/tabid/68/Default.aspx" target="_blank">请点此进行查询...</a>
</div>-->
</div>
</div>
</li>
<li class="right">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>商务指南</h2></div>
<div class="columntitleright"></div>
</div>
<div class="indexNews">
$商务指南
</div>
<!--<ul class="tools">
<li>·<a href="http://www.huochepiao.com/download/" target="_blank">火车时刻查询</a></li>
<li>·<a href="http://www.nongli.net/" target="_blank">万年历查询表</a></li>
<li>·<a href="http://qq.ip138.com/idsearch/" target="_blank">身份证号查询</a></li>
<li>·<a href="http://translate.google.cn/#" target="_blank">免费在线翻译</a></li>
<li>·<a href="http://www.zhcw.com/" target="_blank">福彩信息查询</a></li>
<li>·<a href="http://www.ctrip.com/" target="_blank">全国酒店查询</a></li>
<li>·<a href="http://www.ip138.com/weizhang.htm" target="_blank">车辆违章查询</a></li>
<li>·<a href="http://www.ip138.com/post/" target="_blank">邮编区号查询</a></li>
<li>·<a href="http://ditu.google.cn/" target="_blank">网上地图查询</a></li>
<li>·<a href="http://www.tongcha.com/chepai.htm" target="_blank">汽车牌照查询</a></li>

<li>·<a href="http://www.weather.com.cn/static/html/weather_list.shtml" target="_blank">天气预报查询</a></li>
<li>·<a href="http://jipiao.kuxun.cn/" target="_blank">打折机票预定</a></li>
<li>·<a href="http://astro.sina.com.cn/" target="_blank">今日星座运势</a></li>
<li>·<a href="http://www.ip.cn/" target="_blank">IP地址速查</a></li>
<li>·<a href="http://www.miibeian.gov.cn/" target="_blank">网站备案查询</a></li>
<li>·<a href="http://www.chinarank.org.cn/" target="_blank">网站排名查询</a></li>
<li>·<a href="http://wz.gocar.cn/highway.htm" target="_blank">高速公路大全</a></li>
<li>·<a href="http://www.123cha.com/sj/" target="_blank">手机号码查询</a></li>
<li>·<a href="http://www.net.cn/static/domain/" target="_blank">域名注册查询</a></li>
<li>·<a href="http://www.zgjm.net/" target="_blank">周公解梦查询</a></li>

<li>·<a href="http://www.xsp2.com/zhidao/" target="_blank">大中华问知堂</a></li>
<li>·<a href="http://law.law-star.com/html/lawsearch.htm" target="_blank">法律条规查询</a></li>
<li>·<a href="http://www.sheup.com/xingyunshuzi.php" target="_blank">幸运数字查询</a></li>
<li>·<a href="http://www.jctrans.com/tool/jsq.htm" target="_blank">科学计算工具</a></li>
<li>·<a href="http://www.aqioo.com/article/106,list.html" target="_blank">风水忌宜查询</a></li>
<li>·<a href="http://www.zdic.net/" target="_blank">汉语词典查询</a></li>
<li>·<a href="http://www.checi.cn/" target="_blank">长途客车查询</a></li>
<li>·<a href="http://finance.cn.yahoo.com/le" target="_blank">股票代码查询</a></li>
<li>·<a href="http://qq.ip138.com/hl.asp" target="_blank">货币兑换查询</a></li>
<li>·<a href="http://www.8684.cn/" target="_blank">公交线路查询</a></li>
</ul>-->
</div>
</li>
</ul>
</div>
</div>
<!--content end-->

<div style="clear:both"></div>
<!--button-->
<div class="blk_18">
<a onmouseup="ISL_StopUp_1()" class="LeftBotton" onmousedown="ISL_GoUp_1()" onmouseout="ISL_StopUp_1()" href="javascript:;" target="_self"></a>
<div class="pcont" id="ISL_Cont_1">
<div class="ScrCont">
$piclink
</div>
</div>
<a onmouseup="ISL_StopDown_1()" class="rightBotton" onmousedown="ISL_GoDown_1()" onmouseout="ISL_StopDown_1()" href="javascript:;" target="_self"></a>
</div>

<SCRIPT type=text/javascript>
<!--
picrun_ini()
//-->
</SCRIPT>


<!--link-->
<div id="link">
$txtlink &gt;&gt; <a title="本站交换友情链接要求必须排名10000以下，有意交换友情链接的，请先做好本站链接！" href="/link/">申请</a>
</div>

<!-- footer
<script language="javascript" src="/js/indexfooter.js"></script> -->
<div id="footer">
  <a href="http://www.xsp2.com/about/">关于大中华市场网</a> | <a href="http://market.xsp2.com/market.asp?id=18" target="_blank">义乌市场</a> | <a href="http://www.88wj.com" target="_blank">五金频道</a> | <a href="http://www.15tz.com" target="_blank">招商频道</a> | <a href="http://www.56zhw.com" target="_blank">物流频道</a> | <a href="http://www.xsp2.com/about/ggfw.html">广告服务</a> | <a href="http://www.xsp2.com/about/wzdt.html">网站地图</a> | <a href="http://www.xsp2.cn/" target="_blank">批发频道</a> | <a href="http://www.xsp2.com/about/flsm.html">法律声明</a> | <a href="http://www.xsp2.com/about/yjts.html">意见投诉</a> | <a href="http://www.xsp2.com/help/">帮助中心</a> | <a href="http://www.xsp2.com/about/lxwm.html">联系我们</a><br />

  大中华市场网 义乌国际商贸城网 义乌国际商贸城 义乌小商品批发代理 义乌国际小商品批发市场<br />
  客服：86-0579-85367402/403 传真：86-0579-85365602/85177399 E-mail：root@xsp2.com<br />
 业务咨询QQ:<a target=blank href=tencent://message/?uin=408371488&Site=大中华市场网&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:408371488:10 alt="业务问题请与我沟通!"></a>，<a target=blank href=tencent://message/?uin=252281035&Site=大中华市场网&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:252281035:10 alt="业务问题请与我沟通!"></a> <br />
 <a href="http://www.miibeian.gov.cn" target"_blank">浙ICP备08000706号</a>

<script src="http://s137.cnzz.com/stat.php?id=838751&web_id=838751" language="JavaScript" charset="gb2312"></script>

</div>


<!--$updatetime-->

<script type=text/javascript>
function $(x){
    return document.getElementById(x);
}
rnd.today=new Date(); 
rnd.seed=rnd.today.getTime(); 
function rnd(){ 
	rnd.seed = (rnd.seed*9301+49297) % 233280; 
	return rnd.seed/(233280.0); 
}
function rand(number){ 
	return Math.ceil(rnd()*number)-1; 
}
//标题 .title
var pushName=["网货的海洋，网商的天堂","团购上大众家居网","团购上大众家居网","倩碧比专柜大促更低","买山核桃送压岁钱"];
//图片 .image
var pushSrc=["images/homeAdver/01.jpg","images/homeAdver/002.jpg","images/homeAdver/003.jpg",];
//链接 .link
var pushLink=["http://www.xsp2.com/integrity","http://www.58china.cn","http://www.58china.cn/"]
var pushShow="";
function showPushLink(num){
	if(!num&&num!=0){
		mainPushNum++;
		if(mainPushNum>2) mainPushNum=0;
		num=mainPushNum;
	}
	for(i=0;i<3;i++){
		$("linkPush"+i).className="";
		$("linkPush"+i).innerHTML="<img src='images/homeAdver/push"+i+".gif'>";
	}
	$("linkPush"+num).className="linkPushHere";
	$("linkPush"+num).innerHTML="<strong class='fontOrange'>"+(num+1)+".</strong>"+pushName[num];
	$("pushImg").src=pushSrc[num];
	$("pushImgLink").href=pushLink[num];
	$("pushImg").alt=pushName[num];
}
//初始化
for(i=0;i<3;i++){
	pushShow+='<a href="'+pushLink[i]+'" onmouseover="showPushLink('+i+');clearInterval(rollId)" id="linkPush'+i+'" target="_blank"><img src="images/homeAdver/push'+i+'.gif"></a>';
}
$("linkPush").innerHTML=pushShow;
var mainPushNum=rand(3);
$("linkPush"+mainPushNum).className="linkPushHere";
$("linkPush"+mainPushNum).innerHTML="<strong class='fontOrange'>"+(mainPushNum+1)+".</strong>"+pushName[mainPushNum];
$("mainPush").innerHTML='<a href="'+pushLink[mainPushNum]+'" target="_blank" id="pushImgLink" onmouseover="clearInterval(rollId)" onmouseout="showAtTime()"><img src="'+pushSrc[mainPushNum]+'" name="pushImg" width="356" height="171" id="pushImg" alt="'+pushName[mainPushNum]+'" /></a>';
var rollId=setInterval("showPushLink()",3000);
function showAtTime(){
	showPushLink();
	rollId=setInterval("showPushLink()",3000);
}
</script>
    <SCRIPT>
             var Tags=document.getElementById('shoptop_tit').getElementsByTagName('p'); 
             var TagsCnt=document.getElementById('shoptop_cnt').getElementsByTagName('div'); 
             var len=Tags.length; 
             var flag=1;//修改默认值
                  for(i=1;i<len;i++){
                  Tags[i].value = i;
                  Tags[i].onmouseover=function(){changeNav(this.value)}; 
                  TagsCnt[i].className='undis';                                        
                  }
                  Tags[flag].className='topC1';
                  TagsCnt[flag].className='dis';
              function changeNav(v){        
                  Tags[flag].className='topC0';
                  TagsCnt[flag].className='undis';
                  flag=v;        
                  Tags[v].className='topC1';
                  TagsCnt[v].className='dis';
                  }
     </SCRIPT> 
</body>
</html>