﻿$头部

<!--content begin-->
<div id="content">
<!--product name-->
<div class="column">
<div class="columntitle"><h2>&nbsp;$标题</h2></div>
<div class="columncenter">
<div class="selldetail">
<div class="sellleft">
<div><a href="$图片地址"><img src="$图片地址" width="200" height="200" border="0" alt="$标题"/></a></div>
<div style="margin-top:10px;"><a href="$图片地址" target="_blank"><img src="/images/zoom.gif" border="0" /></a></div>  
</div>
<div class="sellcenter">
<ul class="prodes">
<li>单&nbsp;&nbsp;&nbsp;&nbsp;价：$单价<!--<span class="red"><strong>与我洽谈</strong></span>--></li>
<li>需求数量：$需求数量</li>
<li>包装说明：$包装说明</li>
<li>产品规格：$产品规格</li>
<li>发布日期：$发布日期</li>
<li>有 效 期：$有效期</li>
</ul>
<div class="clear"></div>
<div>
<a href="http://$用户名.xsp2.com/inquiry.asp?filen=buy&proid=$信息ID号&name=$信息标题" target="_blank"><img src="/images/btn_price.gif" border="0" align="absmiddle" /></a> <a href="http://member.xsp2.com/my_collection.asp?action=save&p=1&title=$信息标题"><img src="/images/xin.gif" width="15" height="15" align="texttop" /><span class="blue">收藏此信息</span></a> <a href="javascript:javascript:window.clipboardData.setData('Text',location.href);alert('本文链接已经复制到剪贴板,您可以粘贴发送给好友');"><img src="/images/tuijian.gif" align="absmiddle" /> <span class="blue">推荐给朋友</span></a></div>
<div class="clear"></div>
<div style="float:left">
<a href="$上一条链接"><img src="/images/pre.gif" width="60" height="19" border="0" align="absmiddle" /></a> 
</div>

<div style="margin-left:10px; float:left">
<a href="$下一条链接"><img src="/images/next.gif" width="60" height="19" border="0" align="absmiddle" /></a>
</div>
</div>
<div class="sellright">
$公司联系方式
</div>
</div>
</div>
</div>

<div class="clear"></div>

<!--product description-->
<div class="column">
<div class="columntitle"><h2>&nbsp;详细说明</h2></div>
<div class="columncenter">
$详细信息
</div>
</div>

<div class="clear"></div>

<!--selling-->
<div class="column">
<div class="columntitle"><div class="columntitleleft"><h2>采购信息</h2></div><div class="columntitleright"><a href="http://$用户名.xsp2.com/buy.asp">更多</a></div></div>
<div class="columncenter">
<ul class="selling" id="aboutLink">
<span style="float:left" class="yellow"><img src="\member\images\shared\blue-loading.gif" width="16" height="16"/>正在读取信息...</span>
</ul>
</div>
</div>

<!--fast-->
<div class="column">
<div class="fast">
<h2>还没找到您要购买的产品？请点击下一步，查看更多此类产品！</h2>
</div>
<div style="margin:10px 0; padding:0 25px">求购产品名称：$标题  
  <form action="/sell/" name="form1" method="get" target="_blank">
  <input type="hidden" name="keyword" value="$标题">
  <input type="submit" name="Submit" value="下一步" />
  </form>
</div>
</div>

</div>
<!--content end-->
<script language="javascript" type="text/javascript" src="/js/xml.js"></script>

<!-- footer -->
<script language="javascript" type="text/javascript" src="/js/footer.js"></script>
<script language="javascript" type="text/javascript">
function setAbout(obj)
{	
	document.getElementById("aboutLink").innerHTML=obj.responseText;	
}
XMLHttp.sendReq('GET', '/inc/getBuyAbout.asp?id=$信息ID号,$行业分类ID号', '',setAbout);
</script>


</body>
</html>