$头部$
$导航$
<!--content begin-->
<div id="content">
<div class="contentleft3">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>详细信息</h2></div>
</div>
<div class="columncenter">
<div style="margin:5px 0; font-weight:bold; font-size:20px; text-align:center">$展会名称$</div>
<div style="margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #cccccc; text-align:center; color:#666666">$发布时间$</div>
<div style="padding:10px;font-size:14px;line-height:180%">
  <div>$展会名称$</div>
      <div><strong>时间：$开始时间$——$结束时间$</strong>      <strong>地点：$地点$</strong></div>
      <div><strong>组织机构</strong></div>
      <div>主办：$主办$</div>
      <div>承办：$承办$</div>
      <div>协办：$协办$</div>
      <div><strong>展品范围</strong><strong></strong></div>
      <div>$展品范围$</div>
      <div></div>
      <div><strong>参展费用</strong><strong>  </strong></div>
      <div>$参展费用$</div>
      <div id="ContentArea"><strong>详细内容</strong><strong>  </strong></div>
      <div>$详细内容$</div>     
      <p align="center">&nbsp;</p>
      <p>[关键词搜索]： $关键词$
  
</div>
<!--
<div style="padding-top:10px; height:30px ">
<div class="pagelist">
<ul>
<li>$上一条$</li>
<li>$下一条$</li>
</ul>
</div>
</div>
-->
<div style="padding:0; text-align:right">［<a href="javascript:;" onclick="doZoom(16);" title="大号字体" class="blue">大</a> <a href="javascript:;" onclick="doZoom(14);return false;" title="中号字体" class="blue">中</a> <a href="javascript:;" onclick="doZoom(12);return false;" title="小号字体" class="blue">小</a>
］［<a href="javascript:;" onclick="window.print();" class="blue">打印</a>］
</div>
</div>
</div>

<div class="clear"></div>

<!--columnleft2-->
<div class="column">
<div class="columntitle">
<h2>关于“$关键词$”的资讯</h2>
</div>
<div class="columncenter">
<ul class="exhibitelist2" id="newStr">
<li><span style="float:left" class="yellow"><img src="http://member.xsp2.com/images/shared/blue-loading.gif"/>正在读取信息...</span></li>
</ul>
</div>
</div>

</div>
<div class="contentright3">
<!--columnright1-->
<div class="column">
<div class="columntitle">
<h2>&nbsp;按时间查看展会</h2>
</div>
<div class="columncenter">
<form action="?" method="get">
<div style="margin:5px 0">从
  <select name="fyear">
   <option value="2007">2007年</option>
<option value="2008">2008年</option>
<option value="2009">2009年</option>
<option value="2010">2010年</option>
<option value="2011">2011年</option>
<option value="2012">2012年</option>
    </select>  
  <select name="fmonth">
    <option value="1">1月</option>
<option value="2">2月</option>
<option value="3">3月</option>
<option value="4">4月</option>
<option value="5">5月</option>
<option value="6">6月</option>
<option value="7">7月</option>
<option value="8">8月</option>
<option value="9">9月</option>
<option value="10">10月</option>
<option value="11">11月</option>
<option value="12">12月</option>
    </select>
</div>
<div style="margin:5px 0">到
  <select name="tyear">
   <option value="2007">2007年</option>
   <option value="2008">2008年</option>
<option value="2009">2009年</option>
<option value="2010">2010年</option>
<option value="2011">2011年</option>
<option value="2012">2012年</option>
      </select>
  <select name="tmonth">
      <option value="1">1月</option>
<option value="2">2月</option>
<option value="3">3月</option>
<option value="4">4月</option>
<option value="5">5月</option>
<option value="6">6月</option>
<option value="7">7月</option>
<option value="8">8月</option>
<option value="9">9月</option>
<option value="10">10月</option>
<option value="11">11月</option>
<option value="12">12月</option>
  </select>
</div>
<div style="margin:5px 0">关键字：<input name="keyword" type="text" style="width:80px; font-size:14px; color:#666666" onBlur="lostFocus(this);" onFocus="getFocus(this);" />
  <input type="submit" style="border:1px solid #cfd0c8; width:58px; height:22px; line-height:20px; background:url(../images/searchbuttonbg.gif); font-size:14px" name="Submit" value="搜 索" />
  </div>
  </form>
</div>
</div>
<div class="clear"></div>

<!--columnright2-->
<div class="column">
<div class="columntitle">
<h2>&nbsp;推荐展会</h2>
</div>
<div class="columncenter">
<ul id="commendStr">
<li><span style="float:left" class="yellow"><img src="http://member.xsp2.com/images/shared/blue-loading.gif"/>正在读取信息...</span></li>
</ul>
</div>
</div>

</div>
</div>
<!--content end-->

<div style="clear:both"></div>
<!-- footer -->
<script language="javascript" type="text/javascript" src="/js/xml.js"></script>
<script language="javascript" type="text/javascript">
function doZoom(size){
	document.getElementById("content").style.fontSize=size+'px'
}
function setRecords(obj)
{	
	document.getElementById("commendStr").innerHTML=obj.responseText;	
}
XMLHttp.sendReq('GET', '/exhibite/getRecords.asp?f=1', '',setRecords);
function setNewsRecords(obj)
{	
	document.getElementById("newStr").innerHTML=obj.responseText;	
}
XMLHttp.sendReq('GET', '/exhibite/getRecords.asp?keyword='+escape('$关键词$'), '',setNewsRecords);
</script>
<script language="javascript" src="/js/footer.js"></script>
</body>
</html>