﻿$头部$
<!--menu-->
<div id="menu">
$栏目$
<!--search-->
<div id="search">
<div class="searchleft"><h2>小商品全球供应商</h2></div>
<div class="searchcenter">
 <form action="/exhibite/list.asp" name="pr_search" method="get" target="_blank">
  <input name="keyword" type="text" style="width:400px; font-size:14px; color:#666666" value="请输入您感兴趣的展会信息！" onBlur="lostFocus(this);" onFocus="getFocus(this);" />
  <select name="classid">
    <option value="0">所有分类</option>
	$ExhiList$
</select>
  <input type="submit" style="border:1px solid #cfd0c8; width:58px; height:22px; line-height:20px; background:url(/images/searchbuttonbg.gif); font-size:14px" name="Submit" value="搜 索" />
  </form>
</div>
<div class="searchright"></div>
<div class="searchhelp">·<a href="/help/?id=18" target="_blank">如何采购</a><br /> ·<a href="javascript:;">如何提升在搜索中的排名？</a></div>
</div>
</div>
<!--header end-->

<!--content begin-->
<div class="clear"></div>

<div id="content">
<div class="contentleft">
<!--exhibite news-->
<div class="columntitle2">
<div class="columntitleleft2"></div>
<div class="columntitlecenter2"><a href="nlist.asp?id=17"><h2>展会资讯</h2></a></div>
<div class="columntitleright2"></div>
</div>
<div class="columncenter2">
<div style="margin:8px 0;padding-bottom:6px;border-bottom:1px dashed #cccccc;text-align:center">
$detail1$
</div>
<ul>
$detail2$
</ul>
</div>
<div class="columnbottom2"></div>

</div>
<div class="contentright">
<!--foucus exhibite-->
<div class="columnright1">
<div class="slide">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="356" height="190">
    <param name="movie" value="/flash/flashad2.swf" />
    <param name="quality" value="high" />
    <embed src="/flash/flashad2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="356" height="190"></embed>
  </object>
</div>
<div class="trans">
<!--contact-->
<div class="contacttitle">
<div class="contacttitleleft"></div>
<div class="contacttitlecenter"><h2>联系我们</h2></div>
<div class="contacttitleright"></div>
</div>
<div class="contactcenter">
客服热线：<br />
<strong>0579-85367402/85367403</strong><br />
<span class="gray">周一至周日<br />
(8:30:17:00)</span>
<div style="margin:8px auto;">
传真号码：<br />
<strong>0579-85365602/85177399</strong></div>
<a href="mailto:root@xsp2.com" class="blue"><u>我要留言</u></a></div>
<div class="contactbottom"></div>
</div>
</div>


</div>

<!--exhibite-->
<div class="exhibitetitle">
<div class="exhibitetitleleft"></div>
<div class="exhibitetitlecenter"><h2>展会信息</h2></div>
<div class="exhibitetitleright">
<div class="exhibitpromot">
<a href="javascript:;">如何获得推荐?</a> | <a href="javascript:;">免费展会发布</a>
</div>
</div>
</div>

<div class="contentleft">
<!--feature exhibite-->
<div class="exhibitetitle2">
<div class="exhibitetitleleft2"></div>
<div class="exhibitetitlecenter2"><a href="list.asp?f=0"><h1>推荐展会</h1></a></div>
<div class="exhibitetitleright2"></div>
</div>
<div class="exhibitecenter2">
<div class="exhibitelist">
<ul>
$detail3$
</ul>
</div>
</div>
<div class="exhibitebottom2"></div>

</div>
<div class="contentright">
<!--cooperate exhibite-->
<div class="exhibitetitle3">
<div class="exhibitetitleleft3"></div>
<div class="exhibitetitlecenter3">
<ul class="exhibitetitle4"><li><a href="list.asp?f=1"><h1>近期国外展会</h1></a></li><li><a href="list.asp?f=2"><h1>近期国内展会</h1></a></li></ul>
</div>
<div class="exhibitetitleright3"></div>
</div>
<div class="exhibitecenter3">
<div style="overflow:hidden; ">
<div class="exhibiteconleft">
<ul class="exhibitefeature">
<li><script language="javascript" src="/js/exhibite/15.js"></script></li>
<li><script language="javascript" src="/js/exhibite/16.js"></script></li>
</ul>
<ul>
$detail4$
</ul>
</div>
<div class="exhibiteconright">
<ul class="exhibitefeature">
<li><script language="javascript" src="/js/exhibite/17.js"></script></li>
<li><script language="javascript" src="/js/exhibite/18.js"></script></li>
</ul>
<ul>
$detail5$
</ul>
</div>
</div>
</div>
<div class="exhibitebottom3"></div>
<!--cooperate exhibite-->
<div class="exhibitetitle3">
<div class="exhibitetitleleft3"></div>
<div class="exhibitetitlecenter32">
<a href="list.asp?f=3"><h1>合作展会</h1></a>
</div>
<div class="exhibitetitleright32"><a href="javascript:;">如何获得推荐？</a> </div>
</div>
<div class="exhibitecenter3">
<div style="overflow:hidden; ">
<div class="exhibiteconleft2">
<ul>
$detail6$
</ul>
</div>
<div class="exhibiteconright2">
<div class="exhibiteimg"><script language="javascript" src="/js/exhibite/19.js"></script></div>
<div class="exhibiteimg"><script language="javascript" src="/js/exhibite/20.js"></script></div>
<div class="exhibiteimg"><script language="javascript" src="/js/exhibite/21.js"></script></div>
</div>
</div>
</div>
<div class="exhibitebottom3"></div>

</div>

<!--exhibite guide-->
<div class="exhibiteguide">
<div class="guidetitle">
<div class="guidetitleleft"></div>
<div class="guidetitlecenter"><h2>展会指南</h2></div>
<div class="guidetitleright"><a href="nlist.asp?id=18">更多>></a></div>
</div>
<div class="guidecenter">
<div style="margin:5px 0"><script language="javascript" src="/js/exhibite/22.js"></script></div>
<ul class="newslist5">
$detail7$
</ul>
</div>
<div class="guidebottom"></div>
</div>
<!--exhibit article transportation-->
<div class="exhibiteguide">
<div class="guidetitle">
<div class="guidetitleleft"></div>
<div class="guidetitlecenter"><h2>展品运输</h2></div>
<div class="guidetitleright"><a href="nlist.asp?id=21">更多>></a></div>
</div>
<div class="guidecenter">
<div style="margin:5px 0"><script language="javascript" src="/js/exhibite/23.js"></script></div>
<ul class="newslist5">
$detail8$
</ul>
</div>
<div class="guidebottom"></div>
</div>
<!--exhibite guide-->
<div class="exhibiteguide">
<div class="guidetitle">
<div class="guidetitleleft"></div>
<div class="guidetitlecenter"><h2>展会须知</h2></div>
<div class="guidetitleright"><a href="nlist.asp?id=19">更多>></a></div>
</div>
<div class="guidecenter">
<div style="margin:5px 0"><script language="javascript" src="/js/exhibite/24.js"></script></div>
<ul class="newslist5">
$detail9$
</ul>
</div>
<div class="guidebottom"></div>
</div>
<!--exhibit article transportation-->
<div class="exhibiteguide2">
<div class="guidetitle">
<div class="guidetitleleft"></div>
<div class="guidetitlecenter"><h2>展会服务</h2></div>
<div class="guidetitleright"><a href="nlist.asp?id=22">更多>></a></div>
</div>
<div class="guidecenter">
<div style="margin:5px 0"><script language="javascript" src="/js/exhibite/25.js"></script></div>
<ul class="newslist5">
$detail10$
</ul>
</div>
<div class="guidebottom"></div>
</div>

<div class="exhibitebutton">
<div class="exhibiteguide3"><script language="javascript" src="/js/exhibite/31.js"></script></div>
<div class="exhibiteguide3"><script language="javascript" src="/js/exhibite/32.js"></script></div>
<div class="exhibiteguide3"><script language="javascript" src="/js/exhibite/33.js"></script></div>
<div class="exhibiteguide2"><script language="javascript" src="/js/exhibite/34.js"></script></div>
</div>

</div>
<!--content end-->

<!-- footer -->
<script language="javascript" src="/js/footer.js"></script>


</body>
</html>