$head
<!--header end-->
<a name="top"></a>
<div class="nav">您当前的位置：<span class="blue"><a href="/" class="blue">首页</a> > <a href="/news" class="blue">市场资讯</a> > <a href="/news/newslist.asp?id=$新闻分类ID" class="blue">$新闻分类名</a> ></span> <strong>详细信息</strong></div>

<!--content begin-->
<div id="content">
<div class="contentleft3">
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>详细信息</h2></div>
</div>
<div class="columncenter">
<div style="margin:5px 0; font-weight:bold; font-size:20px; text-align:center">$新闻标题</div>
<div style="margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #cccccc; text-align:center; color:#666666"><a href="http://www.xsp2.com" class="blue">www.xsp2.com</a> $日期  来源：$来源</div>
<div style="padding:10px;font-size:14px;line-height:180%">
  $内容
</div>
<!--
<div style="padding-top:10px; height:30px ">
<div class="pagelist">
<ul>
<li><a href="$上一条">< 上一条</a></li>
<li><a href="$下一条">下一条 ></a></li>
</ul>
</div>
</div>
-->
<div style="padding:10px 0; text-align:right">『<a href="javascript:window.clipboardData.setData('Text',location.href);alert('本文链接已经复制到剪贴板,您可以粘贴发送给好友');" class="blue">发送给好友</a>』『<a href="#top" class="blue">返回顶部</a>』『<a href="javascript:window.print();" class="blue">打印本页</a>』『<a href="javascript:window.close();" class="blue">关闭本页</a>』</div>
</div>
</div>

<div class="clear"></div>

<!--columnleft2-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>相关文章</h2></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2" id="aboutLink">
<!--相关文章列表-->
<li><span style="float:left" class="yellow"><img src="\member\images\shared\blue-loading.gif"/>正在读取信息...</span></li>
</ul>
</div>
</div>

<div class="clear"></div>

</div>
<div class="contentright3">
<!--columnright1-->
<div class="column">
<div class="columntitle">
<h2>&nbsp;滚动新闻</h2>
</div>
<div class="columncenter">
<ul>
<script language="javascript" src="/js/news/gun.js"></script>
</ul>
</div>
</div>

<div class="clear"></div>

<!--columnright2-->
<div class="column">
<div class="columntitle">
<h2>&nbsp;热点排行</h2>
</div>
<div class="columncenter">
<ul>
<script language="javascript" src="/js/news/hot.js"></script>
</ul>
</div>
</div>

<div class="exhibiteimg"><script language="javascript" src="/js/news/38.js"></script></div>
<div class="exhibiteimg"><script language="javascript" src="/js/news/39.js"></script></div>
<div class="exhibiteimg"><script language="javascript" src="/js/news/40.js"></script></div>

</div>
</div>
<!--content end-->
<div style="clear:both"></div>
<!--button-->
<script language="javascript" type="text/javascript" src="/js/xml.js"></script>
<script language="javascript" type="text/javascript">
function setAboutNews(obj)
{	
	document.getElementById("aboutLink").innerHTML=obj.responseText;	
}
XMLHttp.sendReq('GET', '/inc/getNewsAbout.asp?keyword='+escape('$关键字'), '',setAboutNews);
</script>

<!-- footer -->
<script languge="javascript" src="/js/footer.js"></script>
</body>
</html>