$头部

<!--header end-->
<div class="adver"><script language="javascript" src="/js/news/45.js"></script></div>

<!--content begin-->
<div id="content">
<div class="contentleft4">
<!--focus_change-->
<div id="focus_change">
 <div id="focus_change_list">
  <ul>
  <script language="javascript" src="/js/news/1big.js"></script>  
  </ul>
 </div>
 <div class="focus_change_opacity"></div>
 <div id="focus_change_btn">
  <ul>
 <script language="javascript" src="/js/news/1small.js"></script>  
  </ul>
 </div>
</div>
<!--market news-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>市场新闻</h2></div>
<div class="columntitleright"><a href="newslist.asp?id=11" target="_blank">更多</a></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2">
<ul class="newslist3">
$市场新闻
</ul>
</div>
</div>

<div class="clear"></div>

<!--market star-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>市场明星</h2></div>
<div class="columntitleright"><a href="newslist.asp?id=32" target="_blank">更多</a></div>
</div>
<div class="columncenter">
<div class="newsstar">
<div class="newsimg"><script language="javascript" src="/js/news/28.js"></script> </div>
<ul class="newsstarlist">
$市场明星文字1
</ul>
</div>
<div class="newsstar">
<div class="newsimg"><script language="javascript" src="/js/news/29.js"></script> </div>
<ul class="newsstarlist">
$市场明星文字2
</ul>
</div>
<div class="newsstar">
<div class="newsimg"><script language="javascript" src="/js/news/30.js"></script></div>
<ul class="newsstarlist">
$市场明星文字3
</ul>
</div>
</div>
</div>

<div class="clear"></div>

<!--live wealth-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>生活理财</h2></div>
<div class="columntitleright"><a href="newslist.asp?id=14" target="_blank">更多</a></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2">
$生活理财
</ul>
</div>
</div>

</div>
<div class="contentcenter4">
<!--columncenter1-->
<div class="column">
<div class="columncenter">
<h3 class="hotnewstitle">$推荐头条标题</h3>
<div class="subtitle">$推荐新闻</div>
<div class="hotnewscon">$推荐头条描述</div>
<ul class="exhibitelist2">
$新闻热点
</ul>
</div>
</div>

<div class="clear"></div>

<!--columncenter2-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>经济资讯</h2></div>
<div class="columntitleright"><a href="newslist.asp?id=13" target="_blank">更多</a></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2">
$经济资讯
</ul>
</div>
</div>

<div class="clear"></div>

<!--columncenter3-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>行业资讯</h2></div>
<div class="columntitleright"><a href="newslist.asp?id=15" target="_blank">更多</a></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2">
$行业新闻
</ul>
</div>
</div>

<div class="clear"></div>

<!--columncenter4-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>商务指南</h2></div>
<div class="columntitleright"><a href="newslist.asp?id=12" target="_blank">更多</a></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2">
$商务指南
</ul>
</div>
</div>


</div>
<div class="contentright4">
<!--columnright1-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>滚动新闻</h2></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2">
<script language="javascript" src="/js/news/gun.js"></script>
</ul>
</div>
</div>

<div class="clear"></div>

<!--columnright2-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>热点新闻</h2></div>
</div>
<div class="columncenter">
<ul class="exhibitelist2">
<script language="javascript" src="/js/news/hot.js"></script>
</ul>
</div>
</div>

<div class="clear"></div>

<!--columnright3-->
<div class="column">
<div class="columntitle">
<div class="columntitleleft"><h2>合作伙伴</h2></div>
</div>
<div class="columncenter">
<h3>行业动态栏目内容合作</h3>
<div class="newsbutton"><script language="javascript" src="/js/news/26.js"></script></div>
<h3>栏目内容合作</h3>
<div class="newsbutton"><script language="javascript" src="/js/news/27.js"></script></div>
<h3>栏目合作：</h3>
由贵方提供真实的资讯信息，本站负责转发，可保留资讯内容中贵方的相关标识，并在本栏目中展示贵方标志。
<h3>栏目赞助：</h3>
由贵方提供适当的栏目运作费用，我方在资讯栏目首页和资讯信息浏览页，这两个最重要的页面，加载贵方广告或商标展示，作为赞助回报。
<h3>赞助合作联系：</h3>
Name：鲍先生<br />
Tel：0579-85367402<br />
Email：root@xsp2.com <br />
QQ：41275207

</div>
</div>

</div>
</div>
<!--content end-->

<div style="clear:both"></div>
<!--button-->

<!-- footer -->
<script language="javascript" src="/js/footer.js"></script>

</body>
</html>