<div id="head">
<!--logo-->
<div class="logo">
<h1><a title="返回大中华市场网首页" href="http://www.xsp2.com">大中华市场网www.xsp2.com</a></h1>
</div>
<div class="name">全新互动问答信息服务平台</div>
<div class="member"><!--<a href="javascript:;">登录</a> <a href="javascript:;">注册</a>--></div>
</div>
<!--nav-->
<div class="nav">您现在的位置：<a href="/">大中华市场网</a> > <a href="/zhidao">问知堂</a></div>
<!--头部结束-->

<!--搜索开始-->
<div class="searchTitle">
<div class="searchTopLeft"></div>
<div class="searchTopCenter">
<div class="searchTab">
<h2>搜索问答</h2>
</div>
</div>
<div class="searchTopRight"></div>
</div>

<div class="searchCenterBg">
<div class="prompt">此问答不能涉及广告娱乐、灌水，以商业经济方面问题为主！</div>
<div class="search">
<div class="searchCon">
<div class="searchLeft"></div>
<div class="searchCenter">
<form action="search.asp" method="get" onsubmit="return checksearch();" style="margin:0px;" target="_blank">
  <input name="keyword" id="keyword" onblur="if (this.value == '') { this.value = '请输入关键字！'; }" onclick="if (this.value == '请输入关键字！') { this.value = ''; }" value="请输入关键字！" class="input" />
  <input type="image" src="images/ssda.gif" border="0" align="absmiddle" />
  </form> 
  <div class="key">热门关键词：<a href="search.asp?keyword=批发市场" class="red" target="_blank"><strong>批发市场</strong></a> <a href="search.asp?keyword=小商品" target="_blank">小商品</a> <a href="search.asp?keyword=玩具" target="_blank">玩具</a> <a href="search.asp?keyword=礼品" target="_blank">礼品</a></div>
 
</div>
<div class="searchRight"></div>
</div>
<div class="operation"><a href="ask.asp"><img src="images/wytw.gif" border="0" /></a> <a href="#ask"><img src="images/wlhd.gif" border="0" /></a></div>
</div>
</div>

<div class="searchBottom">
<div class="searchBottomLeft"></div>
<div class="searchBottomCenter"></div>
<div class="searchBottomRight"></div>
</div>

<div class="adver"><a href="http://www.xsp2.cn" target="_blank"><img src="images/adver.gif" border="0" /></a></div>