$top$
<meta name="Keywords" content="$pageKeyword$" />
<meta name="Description" content="$pageDesc$" />
<link rel="stylesheet" href="style/zhidao.css" type="text/css" media="all"/> 
<title>$pageTitle$ - 大中华市场网问答 - 大中华市场网</title>
</head>
<body>

<div id="main">

<!--头部开始-->
$head$
<!--搜索结束-->

<!--内容开始-->
<div class="content">
<!--推荐市场-->
<div class="market">
<div class="column4Title">
<div class="title"><h2>推荐市场</h2></div><div class="more"><a href="/market/">更多>></a></div>
</div>
<ul>
$tjshichang$
</ul>
</div>

<!--左边内容-->
<div class="contentLeft">
<!--待解决问题-->
<div class="column1">
<div class="columnQueTitle">
  <h2>$state$</h2>
</div>
<div class="column1Con">
<div class="h_p">
 <img src="$face$" width="50" height="50" /><br />$$
</div>
<div class="questionCon">
<h2>$pageTitle$</h2>
<div class="questionRight"><%=mcontent%></div>
<div class="statistics">发布于$adddate$ 浏览$hits$次 $renum$个回答</div>
<script language="javascript">
function check()
{
if(document.getElementById("content").value.length<2 || document.getElementById("content").value.length>300)
{
alert("请输入内容,不多于300字");
return false;
}
return true;
}
</script>
<form action="savere.asp" method="post">
<input type="hidden" name="id" value="<%=id%>" />
<div class="questionRight">
  <p>
    <textarea name="content" cols="60" style="width:612px " rows="5"></textarea>(300字以内)
</p>
  <p>您的姓名:
    <label>
    <input type="text" name="username" value="匿名" />
    </label>
  </p>
  <p>选择头像:  
    <label>
    <select name="face" onChange="document.getElementById('spanface').src='face/'+this.value+'.gif';">
	<option value="0">默认</option>
	<option value="1">头像1</option>
	<option value="2">头像2</option>
	<option value="3">头像3</option>
	<option value="4">头像4</option>
	<option value="5">头像5</option>
	<option value="6">头像6</option>
    </select>
    </label><img src="face/0.gif" id="spanface" border="0">
  </p>
</div>
<div class="questionButton">
  <input type="submit" name="Submit" value=" 回 答 " onClick="return check();" />
</div>
</form>
</div>

</div>

</div>
<!--已有的回答-->
<div class="column2">
<div class="columnReplyTitle">
  <h2>已有的回答($renum$)</h2>
</div>
<div class="column1Con">
$remessage$

</div>

</div>

</div>
<!--右边内容-->
<div class="contentRight">
<!--点击排行榜-->
<div class="column5">
<div class="column5Title"><h2>市场排行</h2></div>
<div class="column5Con">
<ul>
$shichang$
</ul>
</div>
</div>

</div>

</div>

<div class="clear"></div>


<!--尾部开始-->
<script lanuage="javascript" src="js/footer.js"></script>
<!--尾部结束-->

</div>

</body>
</html>